body {
    background-image: url("https://t4.ftcdn.net/jpg/04/39/13/37/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: start;
    padding-top: 70px;
}

.container, .quiz-box, .result-box {
    width: 400px;
    background: #FF8040;
    /* opacity: 0.9; */
    padding: 25px;
    margin-left: 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 20% 30% 20px rgba(0,0,0,0.1);
}

.start-btn, .next-btn, .restart-btn {
    background: #007bff;
    padding: 10px 20px;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.start-btn:hover, .next-btn:hover, .restart-btn:hover {
    background: #0662c7;
}

.option {
    background: #CBD99B;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background: #d4d4d4;
}

.selected {
    background: white !important;
    color: #0046FF;
}
